h1 img { vertical-align: middle; }
div.ui-content img { vertical-align: middle; }
h3.ui-title span { color: red; } /* Barset # in Confirmation Popup */
#popupDialog { text-align: center; }
#popupDialog a { min-width: 75px; }
