<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="net.tpssystems.eGate" versionCode="1" version="0.0.1" >
    <name>Barset</name>
    <description>eGate Solutions TS4 and Onboard Point of Sales</description>
    <author href="https://TPSSystems.net" email="Support@TPSSystems.net">TPS Development Team</author>

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="target-device" value="tablet" /> <!-- iOS Only -->
    <preference name="deployment-target" value="7.0" /> <!-- iOS Only -->
    
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.device" />

    <!-- This allows your app to load assets from all *.azurewebsites.net domains -->
    <access origin="http://*.azurewebsites.net" subdomains="false" />
    <access origin="https://*.azurewebsites.net" subdomains="false" />
</widget>